DATABASE_URL=postgresql://karina:hidupblonde@localhost:5432/money_manager
JWT_SECRET=

# Docker PostgreSQL Initialization Vars
POSTGRES_USER=karina
POSTGRES_PASSWORD=hidupblonde
POSTGRES_DB=money_manager
